<div id="Navbar" ngbNav class="nav-tabs custom-menubar">

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview']" type="button" 
			class="button custom-menu-item btn btn-success me-2 left-menu" 
			placement="bottom" ngbTooltip="Overview">
			Overview
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/bydimension']" type="button" 
			class="button custom-menu-item btn btn-success me-2 middle-menu" 
			placement="bottom" ngbTooltip="Result by Dimension">
			Result by Dimension
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/bydepartment']" type="button" 
			class="button custom-menu-item btn btn-success me-2 middle-menu" 
			placement="bottom" ngbTooltip="Result by Department">
			Result by Department
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/byrole']" type="button" 
			class="button custom-menu-item btn btn-success me-2 middle-menu" 
			placement="bottom" ngbTooltip="Result by Roles">
			Result by Roles
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/bygeneration']" type="button" 
			class="button custom-menu-item btn btn-success me-2 middle-menu" 
			placement="bottom" ngbTooltip="Result by Generation">
			Result by Generation
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/bygender']" type="button" 
			class="button custom-menu-item btn btn-success me-2 middle-menu" 
			placement="bottom" ngbTooltip="Result by Gender">
			Result by Gender
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/byage']" type="button" 
			class="button custom-menu-item btn btn-success me-2 middle-menu" 
			placement="bottom" ngbTooltip="Result by Age Range">
			Result by Age Range
		</a>
	</ng-container>

	<ng-container ngbNavItem>
		<a [routerLink]="['home/overview/byyearofservice']" type="button" 
			class="button custom-menu-item btn btn-success me-2 right-menu" 
			placement="bottom" ngbTooltip="Result by Year of Service">
			Result by Year of Service
		</a>
	</ng-container> 

</div>
