#card-top {
	display:	block;
	height: 	95%;
}

h3 {
	font-size:		18px;
	margin: 		auto;
	width: 			50%;
	text-align: 	center;
}

.chart-size{
	position: relative;
	//height: 55vh;
	height: 100%;
	width: 100%;
}